# Telegram Bot Configuration
BOT_TOKEN=8285221140:AAEzqIyXzdNlj5dQhmQD2uIWCUG_mooTBrg
ADMIN_ID=1240742785

# Web App Configuration  
WEB_APP_URL=https://aadesign.store/

# Railway будет автоматически устанавливать PORT
# PORT=8000